---
const { href = '/about/', label = 'Find out more' } = Astro.props;
---
<a href={ href } title={ label } class="text-white px-4 py-2 rounded bg-fuchsia-500 hover:bg-fuchsia-600 transition-colors">
	{ label }
</a>
