---
import Button from './Button.astro';

const { heroText = 'A framework for Astro using Tailwind CSS' } = Astro.props;
---
<section class="w-full xl:h-[100vh] grid items-center bg-radial from-gray-700 via-gray-900 to-black">
	<div class="flex flex-col items-center gap-8 mx-auto max-w-[75rem] px-[5vw] xl:px-0">
		<h1 class="text-6xl text-white text-center font-extrabold shadow">
			{ heroText }
		</h1>
		<Button />
	</div>
</section>
